<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-mfa2" version="1.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>MFA2</name><js-module name="MFA2" src="www/MFA2.js"><clobbers target="cordova.plugins.MFA2" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="MFA2"><param name="android-package" value="cordova-plugin-mfa2.MFA2" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml" /><source-file src="src/android/MFA2.java" target-dir="src/cordova-plugin-mfa2/MFA2" /></platform><platform name="ios"><config-file parent="/*" target="config.xml"><feature name="MFA2"><param name="ios-package" value="MFA2" /></feature></config-file><source-file src="src/ios/MFA2.m" /></platform></plugin>